<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WQLHS_GV1.Properties.Settings.QLHS_GV1ConnectionString"
            connectionString="Data Source=DESKTOP-52RAFDJ\SQLEXPRESS;Initial Catalog=QLHS_GV1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>